@page
@using Portfolio.UI.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var nodes = Model.LudumDareGameData?.Node;
    var steamGames = Model.SteamGameData;
    var dotnetdata = Model.DotNetData;
}

<div class="text-center">
    <h1 class="display-4">Daniel Holcomb</h1>
    <p>C# Software Engineer & Game Developer</p>
</div>
<div class="row">
    <div class="col">
        <h2>Web Development</h2>
        <h3><i>Dot Net - Microservices and Sites</i></h3>
        @for (int i = 0; i < dotnetdata.Count; i++)
        {
            var site = dotnetdata[i];
            <a href=@site.Url><h3>@site.Name</h3></a>;
            <p>@site.Description</p>;
        }
    </div>
    <div class="col"></div>
    <div class="col">
        <h2>Game Development</h2>
        <a href="https://nectarware.io/games.html"><h3><i>Steam Commercial Releases</i></h3></a>
        @for (int i = 0; i < steamGames.Count; i++)
        {
            var game = steamGames[i].Data;
            <a href=@game.Website><h3>@game.Name</h3></a>;
            <img src=@game.HeaderImage; />
            @Html.Raw(@game.DetailedDescription)
            <br />
        }
        <a href="https://ldjam.com/users/dandala88/games"><h3><i>Ludum Dare Game Jam Entries</i></h3></a>
        @for (int i = 0; i < nodes.Count; i++)
        {
            var game = nodes[i];
            var ldUrl = "https://ldjam.com" + game.Path;
            <a href=@ldUrl><h3>@game.Name</h3></a>
            var truncatedLink01 = game.Meta.Link01.Split("/releases")[0];
            <a href=@truncatedLink01><i>Repository</i></a>
            <img src=@game.Meta.Cover />
            <p>@game.Body</p>
        }
    </div>
</div>

